<ion-app [class.dark-theme]="dark">
  <section style="text-align:center">
    <h3>Hydra Ionic Baseline App</h3>
    <p>Hydra is a app generation tool with resulting source code. Generated front-end support for Ionic/Angular. Restful
      microservice layer support for .NET Core. Back-end support for SQL Server. Other supported technologies coming
      soon as Hydra is highly extensible. Also includes support for mobile capability, progressive web apps (PWA),
      Docker, Helm, Azure Devops, and Kubernetes.</p>
    <p>Copyright 2020 CloudIDEaaS</p>
    <p>visit: http://www.cloudideaas.com/hydra</p>
  </section>
</ion-app>
